<div class="menu-container">
  <div class="menu-header">
    <img src="{{ "images/banner.svg" | relURL }}" alt="{{ site.Title }}" class="menu-banner">
  </div>

  <ul class="menu-list">
    <li>
      <a href="/" data-iframe-url="/iframe/">Home</a>
    </li>

    {{ range site.Menus.main }}
    <li>
      <a href="{{ .URL }}" data-iframe-url="{{ .URL }}iframe/">{{ .Name }}</a>
    </li>
    {{ end }}

    <li class="menu-divider">Recent Posts</li>

    {{ range first 3 (where site.RegularPages "Section" "posts") }}
    <li class="menu-item-sub">
      <a href="{{ .RelPermalink }}" data-iframe-url="{{ .RelPermalink }}iframe/">
        {{ .Title | truncate 20 }}
      </a>
    </li>
    {{ end }}
  </ul>

  <div class="menu-footer">
    Last Updated: {{ now.Format "2006/01/02" }}
  </div>
</div>
